{% extends "base_site.html" %}
{% load staticfiles %}


{% block container %}
    <div class="full-bottom-border row">
        <div class="col-lg-4 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Let us show you how easy <br> it is to learn word genders!</h2>
                    <p class="text-left">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <img class="img-responsive" src="{% static "main/images/tutorial.png" %}">
        </div>
    </div>
    <h2 class="contain text-center">How Word Gender Works ?</h2>
    <div class="row" >
        <div class="col-lg-3 justify">
            <h4 class="text-center">Choose a Language</h4>
            <p class="text-center">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</p>
        </div>
        <div class="col-lg-3 justify">
            <h4 class="text-center">Subscribe</h4>
            <p class="text-center">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</p>
        </div>
        <div class="col-lg-3 justify">
            <h4 class="text-center">Commit to memory</h4>
            <p class="text-center">Lorem Ipsum Lorem sda Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 bottom-bar">
            <h3 class="text-center ">What are you waiting for?</h3>
            <a href="#" class="btn btn-primary btn-lg active col-lg-offset-5 col-xs-offset-4 col-md-offset-5 col-sm-offset-5" role="button">Sign up now</a> or
            <a href="#" class="btn btn-default btn-lg active" role="button">Login</a>
        </div>
    </div>

{% endblock %}

